PORT=5002
MONGO_URL=mongodb+srv://<username>:<password>@<host>/<database>?tls=true&authSource=admin&replicaSet=<replicaSet>
PRIVATEKEY=vk_enterprises_local_jwt_key
MONGO_DB_NAME=vers_system
DESKTOP_LOGIN_PASSWORD=vk@kunal.admin
